{% load static %}
<!doctype html>
<html>
	<head>
		<link rel='stylesheet' type='text/css' href="{% static 'flutter/style.css' %}"/>
	</head>

	<body>
	<h1>Welcome to Flutter!</h1>
	<h2>Let's verify your BVN</h2>

	<form action="{% url 'flutter:index' %}" method="POST"> 
	    {% csrf_token %}
		    {% if form.non_field_errors %}
	        <div class="form-group text-error">
	            {{ form.non_field_errors }}
		        </div>
		    {% endif %}

		 
				
		{{ form.as_p }}
		<input type='submit'>
	</form>	

	</body>


</html>